.icon-box {
    text-align: right;
    margin-right: 20px;
    padding: 15px 10px 10px;
}

.icon-box img {
    margin: 3px;
    width: 20px;
    padding: 2px;
    border: 2px solid gray;
    border-radius: 20%;
    cursor: pointer;
}

.icon-box img:hover {
    border: 2px solid black;
    background-color: #e8e8e8;
}



.list-table {
    margin: 0 30px 30px;
    border-radius: 5px;
    border: none;
    border-collapse: collapse;
    width: 90%;
    white-space: nowrap;
    background-color: white;
}

.list-table td, .list-table th {
    text-align: center;
    padding: 8px;
}

.list-table thead th {
    color: #ffffff;
    background: black;
}

.list-table thead th:nth-child(2) {
    width: 50%;
}

.list-table td {
    border-bottom: 1px solid lightgray;
}

.list-table tbody tr .article-title {
    cursor: pointer;
}

.list-table tbody tr:hover {
    background-color: #e8e8e8;
}


.pagination {
    padding: 10px;
    text-align: right;
}

.pagination button {
    background-color: white;
    padding: 0;
    border: 2px solid lightgray;
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    margin: 5px;
    cursor: pointer;
    border-radius:20%;
}

.pagination button:hover {
    background-color: #e8e8e8;
}

.pagination button.btn-page.active {
    border: 1px solid #848484;
    background-color: black;
    color: white;
}

.pagination button.disabled {
    cursor: default;
    background-color: #e1e1e1;
    opacity: 0.5;
}