<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="articleMapper">
    <select id="getArticleList">
        SELECT *
        FROM simple_board_1
    </select>
    <select id="getArticleByNo">
        SELECT *
        FROM simple_board_1
        WHERE `no` = #{no}
    </select>
    <update id="updateArticleView">
        UPDATE simple_board_1
        SET
            views = views + 1
        WHERE `no` = #{no}
    </update>
    <insert id="addNewArticle">
        INSERT INTO simple_board_1
            ( `no`, `title`, `text` )
        VALUES
            ( #{no}, #{title}, #{text})
        RETURNING *
    </insert>
</mapper>
